a[href]:hover ,.link:hover {
cursor: pointer !important;
color:rgb(73, 170, 255);
text-decoration: underline !important;
}
.link {
    color:rgb(0, 132, 248) !important;
}
body {
    background: rgb(173,173,173);
background: -moz-linear-gradient(326deg, rgba(173,173,173,1) 0%, rgba(207,207,207,1) 100%);
background: -webkit-linear-gradient(326deg, rgba(173,173,173,1) 0%, rgba(207,207,207,1) 100%);
background: linear-gradient(326deg, rgba(173,173,173,1) 0%, rgba(207,207,207,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#adadad",endColorstr="#cfcfcf",GradientType=1);
}
.no-scroll-back::-webkit-scrollbar-track {
background-color: rgba(0,0,0,0) !important;
}
.shadow {
    box-shadow: 10px 10px 37px -7px rgba(0,0,0,0.46);
-webkit-box-shadow: 10px 10px 37px -7px rgba(0,0,0,0.46);
-moz-box-shadow: 10px 10px 37px -7px rgba(0,0,0,0.46);
}
* {
    font-family: public-sans,airal,sans-serif;
    font-weight: 300;
    color:#222;
    text-rendering: optimizeLegibility;

}
@font-face {
  font-family: public-sans;
  font-display: fallback;
  font-size-adjust: 0.5;
  src: url(/newsurg/media/other/public-sans/PublicSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: source-sans;
  font-display: fallback;
  font-size-adjust: 0.5;
  src: url(/newsurg/media/other/source-sans-pro/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: arsenal;
  font-display: fallback;
  font-size-adjust: 0.5;
  src: url(/newsurg/media/other/arsenal/Arsenal-Regular.ttf);
}
*:focus {
    outline:solid;
}
html,body{ scroll-behavior: smooth}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f13b; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  ::selection {
    background-color: rgb(0,157,174);
    color: white;
  }
  
.ripple:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: currentColor;
  visibility: hidden;
  z-index: 2;
}
.ripple:not(:active):before {
  -webkit-animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
          animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: visibility .4s step-end;
  transition: visibility .4s step-end;
}
.ripple:active:before {
  visibility: visible;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size-adjust: 0.5;
}